venv
__pycache__
logs/
redis.db
redis.db.settings
.DS_Store
iPhone*
backend/app/storage/**/*.pdf
backend/app/storage/**/*.json

!storage/.gitkeep

libplist
libirecovery
idevicerestore
libimobiledevice
libimobiledevice-glue
libusbmuxd
usbmuxd
fake_report.py